*{
    margin: 0;
    padding: 0;
}
.heading{
    display: block;
    background-color: aquamarine;
    height: 60px;
}
h1{
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
    
}
.choices{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: azure;

}
.choice{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 2rem;
    background-color: bisque;
    padding: 2vh;
    
}
.choice:hover{
    height: 19vmin;
    width: 19vmin;
    background-color:rgb(231, 186, 131) ;
}
p{
    margin-top: 20vh;
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#reset_button{
    height: 7vmin;
    width: 7vmin;
    background-color: red;
    color: white;
    align-items: center;
    margin-top: 20vmin;
    border: none;
    border-radius: 2rem;
}